/*  HTML5 ✰ Boilerplate  */

@font-face {
  font-family: 'typewriter';
  src: local("â˜º"), url("typewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'AllerLt';
  src: local("â˜º"), url("AllerLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Ballpark';
  src: local("â˜º"), url("Ballpark.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a { outline: none; }
header a, header a:active, header a:visited { color: #333; }
header a:hover { color: #333; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #222; color:#fff; text-shadow: none; }
::selection { background:#222; color:#fff; text-shadow: none; } 
header a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;   } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#red {
  color: red;
}

body {
    font-family: 'AllerLt';
  background-color: #e7e6df;
}

h1, header a {
  font-size: 60px;
  font-family: 'typewriter';
  margin-top: 0;
  margin-bottom: 0;
  color: #444;
  text-align: center;
  margin: 20px;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #d0d0d0;
}

h2, a {
  text-align: center;
  margin: 0px;
  color: #e7e6df;
  font-size: 20px;
  text-shadow: 2px 2px 0 #111;
}

section {
  display: none;
}

header {
  text-align: center;
}

header a {
  text-transform: uppercase;
  color: #333;
  font-size: 15px;
  text-shadow: none;
  text-decoration: none;
}

header a:hover {
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #d0d0d0;
}

#subnav {
  text-align: center;
}

#subnav a {
  margin: 0 20px 0 20px;
}

a {
  text-decoration: none;
}

#contentcontainer {
  background-color: #333;
  color : #666;
  margin-top: 20px;
  padding: 25px 0px 25px 0px;
  margin-bottom: 10%;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera 4 - 6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

#contentarea {
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  background-color: #333;
  color : #666;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  min-height: 350px;
}

.codesample {
  display: inline-block;
  border-radius: 10px;
  background-color: #222;
  padding: 10px;
  font-family: 'Courier New';
  font-size: 15px;
  float: left;
  width: 45%;
  text-shadow: -1px -1px 0 #111;
  box-shadow: 2px 2px 0px #111;
  margin-bottom: 20px;
  clear: left;
}

.codeexplained {
  float: left;
  width: 45%;
  color: #666;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  text-shadow: 1px 1px 0 #111;
  margin-bottom: 20px;
  clear: right;
}

#about {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}
.free {
  text-align: center;
  font-family: 'Ballpark';
  font-size: 140px;
  color: #3d3d3d;
  text-shadow: -1px -1px 0 #111;
}

section[data-route-1="methods"] {
  min-height: 600px;
}

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


